body{
    font-size: 6px;
}
.container1{
    font-size: 60px;
}
.container2{
    font-size: 40px;
}
p{
    font-size: 0.5em;
}

.container1 > h1 {
    font-size: 20vw;
}

.container2 p{
    font-size: 2rem;
}